<template name="lesson">
	<div style="font-size:3em"><a href="units_list.html">6.813</a>/Unit {{unit}}</div>
			
        <div >
          <ul class="units_nav_bar">
            <li class="units_nav_bar_items"><a class="high_light_unit" href="#unit1">Lesson {{number}}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
			
			
			
		<table  frame="box" style="width:100%">
			<tr class="lesson_creation">
				<td style="width:30%">Lesson Name</td>
				<td>
					<input type="text" name="lesson_name" id="lesson_name" value="{{name}}"
					class="form-control lesson-text">
				</td>
			</tr>
			
			<tr class="lesson_creation">
				<td>Objective</td>
				<td><textarea rows="4" cols="70" id="objective" class="form-control lesson-text">{{objective}}</textarea></td>
			</tr>
			
			<tr class="lesson_creation">
				<td>Reading</td>
				<td><input type="text" name="reading" size="50" class="form-control lesson-text"></td>
			</tr>
			
			<tr class="lesson_creation">
				<td>Lecture Notes</td>
				<td><input type="text" name="notes" class="form-control lesson-text"></td>
			</tr>
			
			<tr class="lesson_creation">
				<td>Quiz</td>
				<td><input type="text" name="quiz" class="form-control lesson-text"></td>
			</tr>
			
			<tr class="lesson_creation">
				<td>Lesson 1 Comments</td>
				<td><textarea rows="4" cols="70" class="form-control lesson-text"></textarea></td>
			</tr>

			<tr class="lesson_creation">
				<td>Date</td>
				<td>
				    <!-- <select id="month_of_lesson" class="form-control date-select">
                        <option value="Month">Month</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
						<option value="June">June</option>
						<option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
						<option value="December">December</option>
                    </select>
					
					<select id="day_of_lesson" class="form-control date-select">
                        <option value="Day">Day</option><option value="1">1</option>
                        <option value="2">2</option><option value="3">3</option>
                        <option value="4">4</option><option value="5">5</option>
						<option value="6">6</option><option value="7">7</option>
                        <option value="8">8</option><option value="9">9</option>
                        <option value="10">10</option><option value="11">11</option>
						<option value="12">12</option><option value="13">13</option>
                        <option value="14">14</option><option value="15">15</option>
						<option value="16">16</option><option value="17">17</option>
                        <option value="18">18</option><option value="19">19</option>
                        <option value="20">20</option><option value="21">21</option>
						<option value="22">22</option><option value="23">23</option>
                        <option value="24">24</option><option value="25">25</option>
						<option value="26">26</option><option value="27">27</option>
                        <option value="28">28</option><option value="29">29</option>
                        <option value="30">30</option><option value="31">31</option>
                    </select>
					<select id="year_of_lesson" class="form-control date-select">
                        <option value="Year">Year</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                    </select> -->


                    <div class="input-group datetimepicker">
    <span class="input-group-addon"><i class="fa fa-calendar"></i> <span class="glyphicon-calendar glyphicon"></span></span>
    <input id="date-picker" class="set-due-date form-control" type="text"/>
</div>

                </td>
			</tr>
			
			<tr class="lesson_creation">
			    <td></td>
				<td>
				    <br>
				    <br>
				    <br>
				    <br>
					<button type="button" id="save_new_lesson_btn" class="btn btn-primary">Save</button>
					<button type="button" id="cancel_lesson_save_btn" class="btn btn-default">Cancel</button>
				</td>

		    </tr>
        </table>
</template>




