<template name="login">
    <div class="accounts-body container">
        <form class="form-signin" role="form" id="login-form">
            <h2 class="form-signin-heading">Sign In</h2>
                Email
                <input type="email" id="login-email" class="form-control" placeholder="Email address" required autofocus>
                Password
                <input type="password" id="login-password" class="form-control" placeholder="Password" required>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                <button class="btn btn-lg btn-primary btn-block" type="submit" id="login-button">Sign In</button>
        </form>
    </div>
</template>