<template name="register">
	<form class="form-signin" role="form" id="register-form">
		<h2 class="form-signin-heading">Register</h2>
		<div>
			<input type="email" id="account-email" class="form-control" placeholder="Email address" required autofocus>
			<input type="password" id="account-password" class="form-control" placeholder="Password" required>	    
	       	<button class="btn btn-lg btn-primary btn-block" type="submit" id="create-account">Create an Account</button>
	     </div>
	</form>
</template>