<template name="classes" class="myclasses">
	
	<div class="container" id="main_div">
		<div class="container" id="table_div">
			<table class="table table-hover" id="classes_table">
				<thead>
					<tr id="header_row">
						<th>Classes</th>
						<th>Grade</th>
						<th>School</th>
					</tr>
				</thead>
				<tbody>
				{{#each class}}
				    {{>the_class}}
					
				{{/each}}
				</tbody>
			</table>
		<div>
			<ul class="pager">
				  <li><a href="#" id="pg_left">Previous</a></li>
				  <li><a href="#" id="pg_right">Next</a></li>
			</ul>
		</div>


		</div>	
		
		
		
		<div class="container" id="new_classes" >
		<a class="btn btn-primary" data-toggle="modal" href='#modal-id' id="modal_toggler">New Class</a>
		<div class="modal fade" id="modal-id" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Create A Class</h4>
					</div>
					<div class="modal-body">
						<label >Class Name</label><br>
							<input id="classname" type="text" placeholder="class name.."><br>
						<label id="">Grade</label><br>
							<input id="grade" type="text" placeholder=""><br>
						<label id="">School</label><br>

						    <input id="school" type="text" placeholder="name of school">		
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="save_data">Save changes</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
			
				
			
		</div>
	</div>
</template>

<template name="the_class">
	<tr id="row">
		<td class="td">{{classname}}</td>
		<td class="td">{{grade}}</td>
		<td class="td">{{school}}</td>
	</tr>
</template>
