#new_classes{
	float:left;
	width:20%;
}

#table_div{
	float:left;
	width:60%;
}

#myclasses{
	font-family:sans-serif; 
}
.modal-dialog-center { /* Edited classname 10/03/2014 */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

