<template name="profile">
    <div class="fluid-container" id="main">
        <div class="col-md-6">
            <b><div class="col-md-4">Name:</div></b>
            <div class="col-md-8"> FirstName LastName</div>

            <b><div class="col-md-4">Username:</div></b>
            <div class="col-md-8"> UserName</div>

            <b><div class="col-md-4">School:</div></b>
            <div class="col-md-8"> Massachusetts Institue of Technology</div>

            <b><div class="col-md-4">Change Password</div></b>
            <div class="col-md-8"> 
                <button type="button" class="btn btn-danger" 
                        onClick="alert('Let\'s pretend your password was updated!')">Change</button>
            </div>
            <div class="col-md-4"><b>Change Image URL</b></div>
            <div class="col-md-8">
                <button type="button" class="btn btn-danger" 
                        onClick="alert('Let\'s pretend your password was updated!')">Change</button>
            </div>
        </div>
        <div class="col-md-6">
            <img src="http://lorempixel.com/400/400/" />
        </div>         
    </div><!--/container-->
</template>