<template name="class">
    
    <br><br>
    Hahaha
	<div style="font-size:3em">{{name}}</div>
			<!--/*	Database Schema
Class: name, teacher, school, units
Unit: name, number, class, lessons
Lesson: number, name, unit, objective, reading, lecture_notes, quiz, comments, scheduled_date
User: name, username, school, password,classes
*/-->
	        <br>
            <ul class="nav nav-tabs">
            {{#each units}}
                {{#if unitNumGreaterThanNine number}}
				{{else}}
					{{>unit}}
				{{/if}}

				

		    {{/each}}

		    <!--This can be cleaned up. It puts the units in the drop down menu"-->
		    {{#if unitsGreaterThanNine}}
					<li class="dropdown unit_item_in_bar">
        				<a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">More Units <b class="caret"></b></a>
        				<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
        				{{#each units}}
        					{{#if unitNumGreaterThanNine number}}
         						{{>unitTwo}}
         					{{/if}}
        				{{/each}}
        				</ul>
  					</li>
			{{/if}}
		    </ul>
	       
	        
		    <table border="2" style="width:100%">
		        <tr>
		            <th><input id="select-all-checkboxes" type="checkbox" value=""></th>
					<th style="width:10%">Lesson</th>
					<th style="width:30%">Objective</th>		
					<th style="width:20%">Date</th>
					<th style="width:30%">Progress Comments</th>
					<th style="width:10%">Check Progress</th>
		        </tr>
				{{>selected_unit}}
	        </table>
		
		
		    <br>
		
			<div id="new_lesson">
			    <button id="create_lesson_btn" class="btn btn-success" type="button">Create New Lesson</button>
	        </div>

	        <div id="delete_lesson">
			    <button id="delete_lesson_btn" class="btn btn-danger" type="button">Delete</button>
	        </div>
		
		    <br>
</template>

<template name="selected_unit">
    {{#each lesson}}
    	{{>selected_unit_lesson}}
    {{/each}}
</template>

<template name="selected_unit_lesson">
	<tr class="lesson-info">
	    <td>	    		
	    	<input class="checkbox" type="checkbox" value="">
        </td>
		<td class="lesson-name-td">{{number}}:{{name}}</td>
		<td class="objective-td">{{objective}}</td>		
		<td class="lesson-date-td">
		{{schedule_date.month}} {{schedule_date.day}} {{schedule_date.year}}
		</td>
		<td class="comments-td">Null now</td>
		<td class="progress-check-td">
		    <!-- <img src="/pictures/check_mark.png" alt="some_text" style="length:50%;width:50%" onClick="checkUncheck(this)" data-image-type="uncheck">  -->
		    {{#if checked}}
			<input class="check-progress" type="checkbox" value="" checked>
			{{else}}
			<input class="check-progress" type="checkbox" value="">
			{{/if}}
	    </td>
    </tr>
</template>


<template name="unit">
	<li class="unit_item_in_bar">
	<a href="#messages" data-toggle="tab">{{number}}:{{name}}</a>
	</li>
</template>

<template name="unitTwo">
	<li>
		<a href="#dropdown1" tabindex="-1" data-toggle="tab">{{number}}:{{name}}</a>
	</li>
</template>